@import "tailwindcss";

:root {
  --background: #F3F4F6;
  --foreground: #1E293B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-heading: var(--font-poppins);
  --font-mono: var(--font-fira-mono);
  --color-primary: #3B82F6;
  --color-secondary: #1E293B;
  --color-primary-text: #111827;
  --color-secondary-text: #6B7280;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E293B;
    --foreground: #F3F4F6;
  }
}
*/

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  font-weight: 500;
  font-size: medium;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h1{
  font-size: xx-large;
}
h2{
  font-size: x-large;
}
h3{
  font-size: large;
}
